bodY {
  overflow: hidden;
	font-family: Roboto, sans-serif;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  height: 100vh;
}

.header {
  min-height: 200px;
}

.animation-container {
  margin-block: 20px;
	min-height: 200px;
}

.link {
	font-family: "Bungee Tint", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-top: 50px;

	text-decoration: none;
	font-size: 20px;
	transition: transform 0.3s ease;

	&:hover {
		transform: scale(1.05);
	}
}